.footer-col {
  display: flex;
  align-items: center;
  width: 100%;
}
.github-link {
  margin-left: auto;
}
.github-link svg {
  padding-left: 1em;
  height: 1.4em;
  width: 1.4em;
}

hr {
  clear: both;
}

ul.tag-list { display: inline-flex; list-style: none; padding: 0; margin:0; margin-bottom: 1em; flex-wrap: wrap; }
ul.tag-list > li { margin-left: 0.5em; }

article.post > header {
  background-color: #f8f8f8;
  padding: 1em;
}

.post-list h3 {
  margin-bottom: 0.25em;
}

iframe {
  display: block;
  margin: 1em auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

iframe[src*="youtube"] {
  aspect-ratio: 16/9;
}

iframe[src*="google.com/maps"] {
  aspect-ratio: 1;
}

.caption {
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
}

img[src*=".svg"] {
  height: 1em;
}

pre { white-space: pre-wrap; word-wrap: break-word; }
