<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">
    <link rel="stylesheet" href="{{ '/static/css/index.css' | relative_url }}">
    {%- feed_meta -%} 
  </head>

  <body>

    <header class="site-header">
      <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.nav_pages | default: default_paths -%}
        {%- assign page_titles = site.pages | map: 'title' | compact %}
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    
        {%- unless page_titles == empty %}
          <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger">
              <span class="menu-icon fas fa-bars fa-lg"></span>
            </label>
    
            <div class="drawer-container">
              <div class="drawer">
                {%- for path in page_paths -%}
                  {%- assign hyperpage = site.pages | where: "path", path | first -%}
                  {%- if hyperpage.title %}
                    <a class="nav-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            <div class="slab">
              {%- for path in page_paths -%}
                {%- assign hyperpage = site.pages | where: "path", path | first -%}
                {%- if hyperpage.title %}
                  <a class="nav-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </nav>
        {%- endunless %}
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer h-card">
      <data class="u-url" href="{{ '/' | relative_url }}"></data>
    
      <div class="wrapper">
    
        <div class="footer-col-wrapper">
          <div class="footer-col">
            
          {%- if site.show_rss_feed %}
              <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
                <svg class="svg-icon orange">
                  <path d="M12.8 16C12.8 8.978 7.022 3.2 0 3.2V0c8.777 0 16 7.223 16 16h-3.2zM2.194
                    11.61c1.21 0 2.195.985 2.195 2.196 0 1.21-.99 2.194-2.2 2.194C.98 16 0 15.017 0
                    13.806c0-1.21.983-2.195 2.194-2.195zM10.606
                    16h-3.11c0-4.113-3.383-7.497-7.496-7.497v-3.11c5.818 0 10.606 4.79 10.606 10.607z"
                  />
                </svg><span>Subscribe</span>
              </a>
          {%- endif %}

          <!--
          {%- if site.author %}
            <ul class="contact-list">
              {% if site.author.name -%}
                <li class="p-name">{{ site.author.name | escape }}</li>
              {% endif -%}
              {% if site.author.email -%}
                <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
              {%- endif %}
            </ul>
          {%- endif %}
          -->

          </div>
          <div class="footer-col">
            <p>{{ site.description | escape }}</p>

            {%- if site.show_github_link %}
              <p class="github-link">
                <a href="https://github.com/{{ site.github.owner_name }}/{{ site.github.repository_name }}">
                  <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#1B1F23"/>
                    </svg>
                  </a>
              </p>
            {%- endif %}
          </div>
        </div>
    
      </div>
    
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <script>
      window.contentSelector = '{{ site.content_selector }}'
      window.jekyll = {site:{baseurl:'{{site.baseurl}}',github:{owner_name:'{{site.github.owner_name}}',repository_name:'{{site.github.repository_name}}',source:{branch:'{{site.github.source.branch}}'}}},page:{path:'{{page.path}}',dir:'{{page.dir}}',name:'{{page.name}}'}}
      window.ghbase = '{{ site.ghbase }}'
      if (window.jekyll.site.github.owner_name) {
        let owner = window.jekyll.site.github.owner_name
        let repo = window.jekyll.site.github.repository_name
        let branch = window.jekyll.site.github.source.branch
        let dir = window.jekyll.site.baseurl
        window.ghbase = `${owner}/${repo}/${branch}/${dir}`
      }      
      let ifcScript = document.createElement('script')
      ifcScript.src = `${location.port === '4001' ? 'http://localhost:3000': 'https://ifc.juncture-digital.org'}/js/index.js`
      ifcScript.type = 'module'
      document.body.appendChild(ifcScript)

      maxWidth = maxWidth || '{{ site.max-width }}'
      if (maxWidth) {
        document.querySelector('main.page-content .wrapper').style.maxWidth = maxWidth === 'full' ? 'unset' : maxWidth
      }

    </script>
  </body>

</html>
