---
layout: base
---

<div class="home">

  {{ content }}

  {% capture tags %}
    {% for tag in site.tags %}
      {{ tag[0] }}
    {% endfor %}
  {% endcapture %}

  {% assign num_tags = tags | number_of_words %}    
  {%- if num_tags > 0 -%}
    <hr style="margin:0;"/>
    <div class="site-tags" style="display: flex; background-color: #f8f8f8; padding: 6px; border-radius: 5px; flex-wrap: wrap;">
      <span style="font-weight:500;">Tags:&nbsp;</span>
      {% assign sortedtags = tags | split:' ' | sort %}
      {% for tag in sortedtags %}
        <a href="tag/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %},&nbsp;{% endif %}
      {% endfor %}
    </div>
    <hr style="margin:0;"/><br/>
  {%- endif -%}

  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
  
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        {%- if site.show_excerpts -%}
          {%- if post.description -%}
            {% assign excerpt = post.description %}
          {% else %}
            {% assign excerpt = post.content | split: '<p>' | slice: 1 | first | split: '</p>' | first %}
          {%- endif -%}
          {{ excerpt }}
        {%- endif -%}

        {% capture post_tags %}
          {% for post_tag in post.tags %}
            {{ post_tag[0] }}
          {% endfor %}
        {% endcapture %}
        
        {% assign num_post_tags = post.tags.size %}    
        {%- if num_post_tags> 0 -%}
          {% assign sortedtags = post_tags | split:' ' | sort %}
          <br/><span class="post-meta">Tags:</span>
          {% for tag in post.tags %}
            <!-- <a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %},{% endif %} -->
            <a href="tag/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
          {% endfor %}
        {%- endif -%}

      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>

<script>
  let maxWidth = '{{ page.max-width }}';
</script>