---
layout: base
---

<div class="post">
  {% if page.title %}
    <h1 class="tag-title">{{ page.title }}</h1>
  {% else %}
    <h1 class="tag-title">Tag: {{ page.tag }}</h1>
  {% endif %}

  {{ content }}

  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in site.tags[page.tag] %}
      {% if post.lang %}
        <li lang="{{post.lang}}">
      {% else %}
        <li>
      {% endif %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>

      {%- if site.show_excerpts -%}
        {%- if post.description -%}
          {% assign excerpt = post.description %}
        {% else %}
          {% assign excerpt = post.content | split: '<p>' | slice: 1 | first | split: '</p>' | first %}
        {%- endif -%}
        {{ excerpt }}
      {%- endif -%}

      {% capture post_tags %}
        {% for post_tag in post.tags %}
          {{ post_tag[0] }}
        {% endfor %}
      {% endcapture %}
      
      {% assign num_post_tags = post.tags.size %}    
      {%- if num_post_tags> 0 -%}
        {% assign sortedtags = post_tags | split:' ' | sort %}
        <br/><span class="post-meta">Tags:</span>
        {% for tag in post.tags %}
          <a href="../tag/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
        {% endfor %}
      {%- endif -%}

    </li>

    {% endfor %}
    </ul>

</div>
